body {
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border-red {
    border: 2px solid red;
}

.italic {
    font-style: italic;
}

img {
    width: 250px;
    padding: 20px 35px;
    box-shadow: 5px 5px 15px #888888;
}

.main {
    background-color: #003566;
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    border-bottom: 10px solid #000000;
    
}

.content {
    padding: 35px;
    color:#ffffff;
}

a {
    color: #ffffff;
}

